---
layout: default
---

<article id="main">
    <header class="special container">
        <span class="icon fa-mobile"></span>
        <h2>Weekly <strong>Blog</strong></h2>
    </header>
    <section class="wrapper style4 container">
        <ul class="posts">
          {% for post in site.posts %}
            <li class="wrapper {% if forloop.first %} style2 {% else %} style1 {% endif %}">
              <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                {{ post.excerpt }}
                <section class="special">
                    <ul class="buttons">
                        <li><a href="{{ site.baseurl }}{{ post.url }}" class="button">Read more</a></li>
                    </ul></section>
            </li>
          {% endfor %}
        </ul>
    </section>
</article>