---
layout: landing-page
---
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-bar-chart-o"></span>
					<h2><strong>SmartFarm</strong> is the tool that helps you
					<br />
					remotely manage all your tillable areas.</h2>
					<p>The platform was developed to centralize all your farms's data,
					<br />
					obtained through the use of sensors scattered around them,
                    <br />
                    and to help you take actions on the fly.
				</header>

				<!-- One -->
					<section class="wrapper style3 container special">

						<header class="major">
							<h2>Make it <strong>your own</strong></h2>
						</header>

						<div class="row">
							<div class="6u">

								<section>
									<a class="image featured"><img src="images/pic01.jpg" alt="" /></a>
									<header>
										<h3>Inside or Outside</h3>
									</header>
									<p>
                                        Whether in an outdoor farm or in a greenhouse,
                                        <br />SmartFarm will help be there to help you.
                                        <br />As long as there is an internet connection, we can install our sensors to send all kinds of metrics to the platform!
                                    </p>
								</section>

							</div>
							<div class="6u">

								<section>
									<a class="image featured"><img src="images/pic02.jpg" alt="" /></a>
									<header>
										<h3>Let it grow</h3>
									</header>
									<p>
                                        Expand your land of control easily
                                        by integrating new sensors.
                                        The integration is automatic!
                                    </p>
								</section>

							</div>
						</div>
						<div class="row">
							<div class="6u">

								<section>
									<a class="image featured"><img src="images/pic03.jpg" alt="" /></a>
									<header>
										<h3>Next generation farming</h3>
									</header>
									<p>Need to water the farm when the temperature rises?
                                        <br />Say no more! SmartFarm allows you to define alerts associated with the actuators you have installed on the farm.</p>
								</section>

							</div>
							<div class="6u">

								<section>
									<a class="image featured"><img src="images/pic04.jpg" alt="" /></a>
									<header>
										<h3>You control it</h3>
									</header>
									<p>Is anyone wondering around your farm? Our movement sensors can detect any movement and send an image to the platform, along with an alert. No need for worries!
                                        <br />Keep an eye on your lands at any time!</p>
								</section>

							</div>
						</div>

						<!--<footer class="major">
							<ul class="buttons">
								<li><a href="#" class="button">See More</a></li>
							</ul>
						</footer>-->

					</section>

                <!-- Two -->
                    <section class="wrapper style1 container special">
                        <div class="row">
                            <div class="8u more-features-box wow fadeInLeft" style="float: inherit; margin: 0 auto;">
                                <div>
                                    <ul class="rslides callbacks callbacks1" id="slider1">
                                        <li>
                                            <img src="images/docs/Screenshot_4.png" alt="">
                                            <p class="caption">Add your Farms</p>
                                        </li>
                                        <li>
                                            <img src="images/docs/Screenshot_2.png" alt="">
                                            <p class="caption">Farms' sensors list</p>
                                        </li>
                                        <li>
                                            <img src="images/docs/Screenshot_1.png" alt="">
                                            <p class="caption">Sensors reporting live and historical data</p>
                                        </li>
                                        <li>
                                            <img src="images/docs/Screenshot_3.png" alt="">
                                            <p class="caption">See the triggered alerts</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="4u">

                                <section>
                                    <span class="icon featured fa-info"></span>
                                    <header>
                                        <h3>Check live or historical sensors metrics</h3>
                                    </header>
                                    <p>
                                        Check the environmental conditions and other metrics in real-time on the platform.
                                        <br />
                                        All the data you need to make immediate decisions.
                                    </p>
                                </section>

                            </div>
                            <div class="4u">

                                <section>
                                    <span class="icon featured fa-line-chart"></span>
                                    <header>
                                        <h3>Sensors metrics analytics</h3>
                                    </header>
                                    <p>
                                        Get more of your sensors data!
                                        <br />The platform is always processing the data and calculating the average value for all the sensors.
                                    </p>
                                </section>

                            </div>
                            <div class="4u">

                                <section>
                                    <span class="icon featured fa-clock-o"></span>
                                    <header>
                                        <h3>Alerts & Actuators</h3>
                                    </header>
                                    <p>Set alerts to thresholded values of data collected by the sensors and schedule actions based on those events.</p>
                                </section>

                            </div>
                        </div>


                        <!--
                        <div class="row">
                            <div class="4u">

                                <section>
                                    <span class="icon featured fa-info"></span>
                                    <header>
                                        <h3>Live data</h3>
                                    </header>
                                    <p>
                                        Check the environmental conditions and other metrics in real-time on the platform.
                                        <br />
                                        All the data you need to make immediate decisions.
                                    </p>
                                </section>

                            </div>
                            <div class="4u">

                                <section>
                                    <span class="icon featured fa-line-chart"></span>
                                    <header>
                                        <h3>Historical & Statistical data</h3>
                                    </header>
                                    <p>
                                        Data processing of current and past information,
                                         averages and other statistical aggregates.
                                    </p>
                                </section>

                            </div>
                            <div class="4u">

                                <section>
                                    <span class="icon featured fa-clock-o"></span>
                                    <header>
                                        <h3>Alerts</h3>
                                    </header>
                                    <p>Set alerts to thresholded values of data collected by the sensors and schedule actions based on those events.</p>
                                </section>

                            </div>
                        </div>-->
                    </section>

                <!-- Three -->
                    <section class="wrapper style2 container special-alt">
                        <div class="row half">
                            <div class="8u">

                                <header>
                                    <h2><strong>Unlimited</strong> possibilities with an easily extensible platform.</h2>
                                </header>
                                <p class="promotional-banner">SmartFarm platform will revolutionize the farmer’s ability to monitor and actuate on his farm, and reduce labor and maintenance costs.
                                    <br />
                                Access it either mobile or desktop browser using our responsive website.
                                </p>
                                <!--<footer>
                                    <ul class="buttons">
                                        <li><a href="#" class="button">Find Out More</a></li>
                                    </ul>
                                </footer>-->

                            </div>
                            <div class="4u skel-cell-important">

                                <ul class="featured-icons">
                                    <li><span class="icon fa-sun-o"><span class="label">Feature 1</span></span></li>
                                    <li><span class="icon fa-leaf"><span class="label">Feature 2</span></span></li>
                                    <li><span class="icon fa-line-chart"><span class="label">Feature 3</span></span></li>
                                    <li><span class="icon fa-laptop"><span class="label">Feature 4</span></span></li>
                                </ul>

                            </div>
                        </div>
                    </section>

                <!-- Four -->
                    <section class="wrapper style1 container special">
                        <header class="major">
                            <span class="icon fa-coffee" aria-hidden="true"></span>
                            <h2>Meet the <i>farmers</i> who developed the platform</h2>
                        </header>
                        <div class="row">
                            <div class="4u">

                                <section>
                                    <img class="team-img" src="https://avatars2.githubusercontent.com/u/9132222?s=400&u=1f4897c27a0382272c206d3271e0115a945c8f35&v=4"></img>
                                    <header>
                                        <h3>Daniela Simões</h3>
                                    </header>
                                    <p class="team-mail">
                                        danielasimoes@ua.pt
                                        <br />76771
                                    </p>
                                </section>

                            </div>
                            <div class="4u">

                                <section>
                                    <img class="team-img" src="https://avatars2.githubusercontent.com/u/11805521?v=3&s=460.jpg"></img>
                                    <header>
                                        <h3>Diogo Filipe Ferreira</h3>
                                    </header>
                                    <p class="team-mail">
                                        pdiogoferreira@ua.pt
                                        <br /> 76425
                                    </p>
                                </section>

                            </div>
                            <div class="4u">

                                <section>
                                    <img class="team-img" src="https://avatars3.githubusercontent.com/u/10684106?.jpg"></img>
                                    <header>
                                        <h3>Diogo Daniel Ferreira</h3>
                                    </header>
                                    <p class="team-mail">
                                        diogodanielsoaresferreira@ua.pt
                                        <br />76504
                                    </p>
                                </section>

                            </div>
                        </div>
                        <div class="row">
                            <div class="6u">

                                <section>
                                    <img class="team-img" src="https://avatars3.githubusercontent.com/u/37042888?s=400&v=4.jpg"></img>
                                    <header>
                                        <h3>Luís Leira</h3>
                                    </header>
                                    <p class="team-mail">
                                        luisleira@ua.pt
                                        <br />76514
                                    </p>
                                </section>

                            </div>
                            <div class="6u">

                                <section>
                                    <img class="team-img" src="https://avatars2.githubusercontent.com/u/10819202?v=3&s=460.jpg"></img>
                                    <header>
                                        <h3>Pedro Martins</h3>
                                    </header>
                                    <p class="team-mail">
                                        pbmartins@ua.pt
                                        <br />76551
                                    </p>
                                </section>

                            </div>
                        </div>
                    </section>

                <!-- Five -->
                    <section class="wrapper style3 container special">

                        <header class="major">
                            <span class="icon fa-clock-o" aria-hidden="true"></span>
                            <h2>The Plan</h2>
                        </header>

                        <div class="row">
                            <div class="6u">
                                <section>
                                    <header>
                                        <h1>M1</h1>
                                        <h3>March 19</h3>
                                    </header>
                                    <p>
                                        Sensors' data flowing through broker.
                                        <br />Basic UI working and display values from a sensor at real-time.
                                    </p>
                                </section>

                            </div>
                            <div class="6u">

                                <section>
                                    <header>
                                        <h1>M2</h1>
                                        <h3>April 14</h3>
                                    </header>
                                    <p>
                                        Data coming from sensors should be saved on a database.
                                        <br />UI should correctly display values coming from sensors and the historic data.
                                    </p>
                                </section>

                            </div>
                        </div>
                        <div class="row">
                            <div class="6u">

                                <section>
                                    <header>
                                        <h1>M3</h1>
                                        <h3>April 28</h3>
                                    </header>
                                    <p>
                                        UI should allow device management,
                                        <br />it should be possible to send actions to the actuators
                                        <br />and an historic view of data should be presented.
                                        <br />Data processing (averages).
                                        <br />Reverse proxy and load balancing.
                                    </p>
                                </section>

                            </div>
                            <div class="6u">

                                <section>
                                    <header>
                                        <h1>M4</h1>
                                        <h3>May 12</h3>
                                    </header>
                                    <p>
                                        Basic users management (AAA) should be done.
                                        <br />Alarming module should be finished and
                                        <br />all features should be implemented.
                                        <br />Basic acceptance testing and system logging.
                                    </p>
                                </section>

                            </div>
                        </div>
                        <div class="row">
                            <div class="6u">

                                <section>
                                    <header>
                                        <h1>M5</h1>
                                        <h3>May 26</h3>
                                    </header>
                                    <p>
                                        Final touches on the UI.
                                        <br />Final debugging on the platform and
                                        <br />non-functional and integration testing.
                                        <br />Continous Integration/Deployment done.
                                    </p>
                                </section>

                            </div>
                            <div class="6u">

                                <section>
                                    <header>
                                        <h1>M6</h1>
                                        <h3>June 4</h3>
                                    </header>
                                    <p>
                                        Final presentation.
                                    </p>
                                </section>

                            </div>
                        </div>
                        <div class="row">
                            <div class="12u">

                                <section>
                                    <header>
                                        <h1>M7</h1>
                                        <h3>June 10</h3>
                                    </header>
                                    <p>
                                        Final delivery.
                                    </p>
                                </section>

                            </div>
                        </div>

                        <!--<footer class="major">
                            <ul class="buttons">
                                <li><a href="#" class="button">See More</a></li>
                            </ul>
                        </footer>-->

                    </section>

			</article>

		<!-- CTA -->
			<section id="cta">

				<header>
					<h2>Ready to <strong>harvest something great</strong>?</h2>
				</header>
				<footer>
					<ul class="buttons">
						<li><a href="specification/context-and-scope/" class="button special">Check out the details</a></li>
						<!--<li><a href="#" class="button">LOL Wut</a></li>-->
					</ul>
				</footer>

			</section>
