<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
        <img src="{{ site.baseurl }}/images/logo-medium.png" />
        <br />
        <!--<header>
            <h2>{{ site.title }}</h2>
        </header>-->
        <p>All your farm lands in one place</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell me more</a></li>
            </ul>
        </footer>

    </div>

</section>