<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a style="border-bottom: none;" href="http://www.ua.pt/" class=""><img class="label" src="{{ site.baseurl }}/images/ua-logo.png"></img></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; SmartFarm 2018</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</footer>